<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">МОЙ БЛОГ</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link link-body-emphasis" aria-current="page">Главная страница</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link link-body-emphasis">Блог сайта</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis">О проекте</a></li>
            </ul>
        </header>
    </div>
</div>
